@import 'DefaultStyles';

.position-wrapper {
	display: flex;
	text-align: left;
	border-top: 1px solid $pale-nude;
	max-width: 1000px;
	margin: 0 auto;
	justify-content: center;
	padding: 2em;

	.position-title {
		width: 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		//align-items: space-around;
		flex-wrap: wrap;

		h3 {
			margin-block-end: 0.2em;
			font-weight: 500;
			font-size: 2em;
		}

		p {
			margin-block-end: 0.2em;
		}
	}

	.position-description {
		width: 60%;

		p {
			margin-block-end: 0.2em;
		}

		li {
			margin-bottom: 0.5em;
		}
	}

	&:last-of-type {
		border-bottom: 1px solid $pale-nude;
		margin-bottom: 2em;
	}
}

.gallery-wrapper {
	max-width: 1000px;
	margin: 0 auto;

	.gallery-item-wrapper {
		width: 100%;
		padding: 2em 1em;
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row;

		.gallery-item-img {
			width: 40%;
		}

		.gallery-item-text {
			text-align: left;
			padding: 3rem 1rem 3rem 3rem;
			width: 60%;
		}

		img {width: 100%}

		h2 {margin: 0.3em 0; color: black}

		p.tags {
			color: $orange;
			margin-bottom: 0;
			font-size: 1em;
		}
	}

	.gallery-item-wrapper:nth-of-type(even) {
		flex-direction: row-reverse;

		.gallery-item-text {
			padding: 3rem 3rem 3rem 0;
		}

		.gallery-item-img {
			padding-right: 1rem;
		}
	}

	&.lightbox {
		.gallery-item-wrapper .gallery-item-img {
			cursor: pointer;
		}
	}
}

.pop-up {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.9);
	opacity: 0;
	transition: opacity 0.1s linear;
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;

	img {
		min-width: 400px;
		max-width: 80%;
		max-height: 90%;
	}
}

.visible-enter {
	opacity: 0;
	display: none;
}

.visible-enter-active {
	opacity: 0;
	display: flex;
	transition: .1s linear;
}

.visible-enter-done {
	opacity: 1;
	display: flex;
}

.visible-exit {
	opacity: 1;
	display: flex;
}

.visible-exit-active {
	opacity: 0;
	display: flex;
	transition: .1s linear;	
}

.visible-exit-done {
	opacity: 0;
	display: none;
}

.resume-img {
	width: 75%;
	max-width: 800px;
	margin: 0 auto 1em;
}

.tot {
	.gallery-wrapper .gallery-item-wrapper {
		.gallery-item-img {
			width: 70%;
		}

		.gallery-item-text {
			width: 30%;
		}
	}
}

.back-link {
	margin: 2em 0;

	a {
		text-decoration: none;
		border-bottom: 1px solid black;
		transition: .2s;
		text-align: center;

		&:hover {
			margin-left: 3px;
		}
	}
}

@media (max-width: 768px) {
	.position-wrapper {
		flex-direction: column;

		.position-title {
			width: 100%;
			margin-bottom: 1em;

			h3 {
				font-size: 1.5em;
			}
		}

		.position-description {
			width: 100%;

			ul {
				padding-inline-start: 0;
			}
		}
	}

	.gallery-wrapper {
	 	.gallery-item-wrapper, .gallery-item-wrapper:nth-of-type(even) {
			flex-direction: column;
			padding: 0;

			.gallery-item-img, .gallery-item-text {
				width: 100%;
				padding: 1em 2em;
			}
		}
	}

	.tot .gallery-wrapper {
	 	.gallery-item-wrapper, .gallery-item-wrapper:nth-of-type(even) {
			flex-direction: column;
			padding: 0;

			.gallery-item-img, .gallery-item-text {
				width: 100%;
				padding: 1em 2em;
				text-align: center;
			}
		}
	}

	.pop-up img {
		width: 80%;
	}
}

@media (max-width: 650px) {
	.resume-img {
		width: 100%;
	}
}