@import 'DefaultStyles';

.drawing-container {
	width: 100%;
	position: relative;
	background: $pale-nude;
	overflow: hidden;
	padding-top: 3rem;
}

.drawing {
	position: relative;
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	background: $pale-nude;
	// border: 1px solid black;

	div {
		position: absolute;
	}
}

@mixin pseudo {
	content: '';
	position: absolute;
}

/* COMPUTER */

.computer {
	background: black;
	width: 550px;
	height: 380px;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 20px;
	z-index: 5;
}

.computer-screen {
	width: 520px;
	height: 290px;
	top: 15px;
	left: 15px;
	background: $soft-white;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	h1 {
		font-family: 'Freight Big Pro';
		font-weight: 500;
		font-size: 5em;
		margin: 0px;
		display: inline-block;
		width: fit-content;
	}

	h4 {
		font-family: 'Proxima Nova';
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0;
		display: inline-block;
		width: fit-content;
	}
}

.typing {
	min-width: 2px;
	border-right: 1px solid;
	animation: blink .75s step-end infinite;
}

.computer-bezel {
	background: $gray;
	width: 100%;
	bottom: 0;
	height: 60px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.computer-button {
	background: $soft-white;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	left: 262px;
	top: 15px;
	opacity: 0.8;
}

.computer-stand {
	width: 80px;
	border-bottom: 60px solid $gray;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: -60px;
	left: 225px;
}

.mouse {
	width: 60px;
	height: 20px;
	background: $gray;
	border-radius: 50% 50% 10px 10px;
	bottom: 0;
	z-index: 3;
	left: 650px;
}

@keyframes blink {
	0% {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
	100% {
		border-color: transparent;
	}
}

/* END COMPUTER */

/* PLANT */

@mixin leaf {
	background: $light-green;
	border-radius: 100%;
	z-index: 2;
}

.plant {
	width: 130px;
	height: 280px;
	bottom: 0;
	left: 40px;
	z-index: 3;

	.plant-pot {
		width: 100px;
		left: 5px;
		border-top: 100px solid $terracotta;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		bottom: 0;
		z-index: 3;
		// border-radius: 0 0 30px 30px;

		&:before {
			@include pseudo;
			background: $terracotta;
			width: 130px;
			top: -100px;
			left: -15px;
			height: 30px;
			border-radius: 3px;
		}
	}

	.plant-leaves-1 {
		@include leaf;
		width: 40px;
		height: 280px;
		left: 45px;
		overflow: hidden;

		&:before {
			@include pseudo;
			width: 20px;
			height: 280px;
			left: 20px;
			background: $dark-green;
			opacity: 0.9;
		}
	}

	.plant-leaves-2 {
		@include leaf;
		width: 30px;
		height: 250px;
		left: 20px;
		overflow: hidden;
		top: 30px;
		transform: rotate(-8deg);

		&:before {
			@include pseudo;
			width: 15px;
			height: 250px;
			left: 15px;
			background: $dark-green;
			opacity: 0.9;
		}
	}

	.plant-leaves-3 {
		@include leaf;
		width: 30px;
		height: 230px;
		left: 80px;
		overflow: hidden;
		top: 50px;
		transform: rotate(8deg);

		&:before {
			@include pseudo;
			width: 15px;
			height: 230px;
			left: 15px;
			background: $dark-green;
			opacity: 0.9;
		}
	}
}

/* END PLANT */

/* COFFEE CUP */

.coffee {
	width: 130px;
	height: 80px;
	bottom: 0;
	right: 30px;
	z-index: 3;

	.coffee-mug {
		width: 100px;
		height: 80px;
		background: $blush;
		border-radius: 0px 0px 30px 30px;
		z-index: 4;
	}

	.coffee-handle {
		background: $blush;
		width: 40px;
		height: 40px;
		left: 90px;
		top: 15px;
		border-radius: 0 50% 50% 0;

		&:after {
			content: '';
			position: absolute;
			background: $pale-nude;
			width: 20px;
			height: 20px;
			border-radius: 0 50% 50% 0;
			top: 10px;
			left: 10px;
		}
	}
}

/* END COFFEE CUP */

/* SHELF */

@mixin book {
  	bottom: 20px;
	border-radius: 2px;
}

@mixin plant {
  	background: $light-green;
	border-radius: 10px 10px 0 0;
	width: 15px;
}

.shelf {
	width: 560px;
	top: 60px;
	height: 160px;
	left: -40px;
	z-index: 3;
	// background: white;

	.shelf-bottom {
		background: $nude;
		width: 600px;
		height: 20px;
		bottom: 0;
	}

	.book-1 {
		@include book;
		background: $terracotta;
		width: 30px;
		height: 100px;
		left: 60px;
	}

	.book-2 {
		@include book;
		background: $light-green;
		width: 20px;
		height: 120px;	
		left: 90px;
	}

	.book-3 {
		@include book;
		background: $blush;
		width: 25px;
		height: 140px;
		left: 115px;

		&:before, &:after  {
			content: '';
			background: $soft-white;
			width: 25px;
			height: 15px;
			position: absolute;
			opacity: 0.5;
		}

		&:before {
			border-radius: 2px 2px 0 0;
		}

		&:after {
			bottom: 0;
			border-radius: 0 0 2px 2px;
		}
	}

	.book-4 {
		@include book;
		background: $blue;
		width: 15px;
		height: 130px;
		left: 146px;
		transform: rotate(-5deg);
	}

	.binder-1 {
		@include book;
		background: $dark-green;
		width: 28px;
		height: 115px;
		left: 167px;

		&:before, &:after {
			content: '';
			background: $soft-white;
			border-radius: 50%;
			position: absolute;
			width: 8px;
			height: 8px;
			left: 10px;
			opacity: 0.9;
		}

		&:before {
			top: 10px;
		}

		&:after {
			bottom: 10px;
		}
	}

	.book-5 {
		@include book;
		background: $light-green;
		width: 120px;
		height: 25px;
		left: 220px;
		z-index: 3;

		&:before, &:after {
			@include pseudo;
			background: $blue;
			width: 10px;
			height: 25px;
		}

		&:before {
			left: 10px;
		}

		&:after {
			right: 10px;
		}
	}

	.book-6 {
		background: $blush;
		width: 109px;
		height: 20px;
		bottom: 45px;
		left: 222px;
		border-radius: 2px;
		z-index: 3;
	}

	.book-7 {
		background: $terracotta;
		width: 120px;
		height: 10px;
		bottom: 65px;
		left: 215px;
		border-radius: 4px;
		z-index: 3;
	}

	.shelf-picture {
		background: $blue;
		width: 120px;
		height: 140px;
		left: 320px;
		bottom: 20px;
		z-index: 2;
		border: 8px solid black;
		box-sizing: border-box;
	}

	.shelf-plant {
		width: 60px;
		height: 120px;
		right: 40px;
		bottom: 20px;
	}

	.shelf-plant-pot {
		background: $terracotta;
		width: 60px;
		height: 50px;
		bottom: 0;
		border-radius: 3px 3px 20px 20px;

		&:after {
			content: '';
			background: $soft-white;
			position: absolute;
			width: 60px;
			height: 20px;
			border-radius: 0px 0px 20px 20px;
			bottom: 0;
		}
	}

	.shelf-plant-1 {
		@include plant;
		height: 70px;
		bottom: 50px;
		left: 22px;
		border-radius: 10px 10px 0 0;
	}

	.shelf-plant-2 {
		background: $light-green;
		width: 13px;
		height: 30px;
		top: 28px;
		left: 2px;
		border-radius: 7px 7px 0px 7px;

		&:after {
			@include pseudo;
			background: $light-green;
			width: 30px;
			height: 13px;
			top: 18px;
			border-bottom-left-radius: 7px;
		}
	}

	.shelf-plant-3 {
		background: $light-green;
		width: 13px;
		height: 30px;
		top: 12px;
		right: 2px;
		border-radius: 7px;

		&:after {
			@include pseudo;
			background: $light-green;
			width: 30px;
			height: 13px;
			top: 18px;
			right: 0;
			border-bottom-right-radius: 7px;
		}
	}
}

/* END SHELF */

/* CLOCK */

.clock {
	background: black;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	right: 40px;
	top: 290px;
	border: 5px solid $soft-white;

	&:before {
		@include pseudo;
		width: 5px;
		height: 5px;
		background: $terracotta;
		border-radius: 50%;
		left: 50%;
		top: 50%;
		transform: translate3D(-50%, -50%, 0);
		z-index: 4;
	}

	.clock-hour-hand {
		position: absolute;
		background: $terracotta;
		width: 30px;
		height: 2px;
		transform-origin: center left;
		transform: translate3D(65px, 65px, 0) rotate(-60deg);
	}

	.clock-minute-hand {
		position: absolute;
		background: $terracotta;
		width: 50px;
		height: 2px;
		transform-origin: center left;
		transform: translate3D(65px, 65px, 0) rotate(-30deg);
		animation: 360s steps(60) inifinite spin;
	}

	.clock-second-hand {
		position: absolute;
		background: $soft-white;
		width: 50px;
		height: 1px;
		transform-origin: center left;
		transform: translate3D(65px, 65px, 0) rotate(0deg);
		animation: 60s steps(60) infinite spin;
		z-index: 3;
	}
}

@keyframes spin {
	0% {
		transform: translate3D(65px, 65px, 0) rotate(0deg);
	}
	100% {
		transform: translate3D(65px, 65px, 0) rotate(360deg);
	}
}

/* END CLOCK */

/* POLAROIDS */

.polaroid-container {
	background: $soft-white;
	width: 50px;
	height: 60px;
	z-index: 2;
	cursor: pointer;
	transform-origin: top center;

	.polaroid-photo {
		width: 40px;
		height: 40px;
		top: 5px;
		left: 5px;
	}

	&:before {
		@include pseudo;
		background: $terracotta;
		opacity: 0.3;
		width: 10px;
		height: 20px;
		left: 20px;
		top: -10px;
		transform: rotate(-2deg);
		z-index: 6;
	}

	&:hover {
		animation: 1.2s linear 0s infinite hang;
	}
}

@keyframes hang {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-3deg);
	}
	75% {
		transform: rotate(3deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.desk {
	background: $soft-white;
	width: 100%;
	z-index: 2;
	height: 40px;
	bottom: 0;
	position: absolute;
}

@media (max-width: 1000px) {
	.drawing {
		transform: translateX(-50%);
		left: 50%;
		background: transparent;
	}

	.desk {
		z-index: -1;
	}
}

@media (max-width: 700px) {
	.drawing {

		.computer {
			transform: translate3D(-50%, 10px, 0) scale(0.9);
			transform-origin: center bottom;
			left: 50%;
		}

		.shelf {
			top: 100px;
		}
	}
}