@import 'DefaultStyles';

.skill-button {
	@include custom-button;
	background: $soft-white;
	color: $orange;

	&:hover {
		opacity: 0.8;
	}
}

.section-wrapper {
	background: $pale-nude;
	text-align: center;

	h1, h2 {
		color: $orange;
	}

	.text-wrapper {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		padding: 2rem 0;
	}

	.columns {
		text-align: left;
	}
	// padding: 5rem 8rem;
}

.section-wrapper.white {
	background: $soft-white;
}

.section-wrapper.pink {
	background: $pink;

	h1 {
		color: white;
	}
}

.section-wrapper.blush {
	background: #cf9b7a;
	h1 {color: white}
}

.top-section {
	padding-top: 10rem;
	padding-bottom: 4rem;
}

.top-section.header {
	position: relative;
	padding-top: 13rem;
	padding-bottom: 3rem;

	h1 {
		color: black;
	}

	&:before {
		content: '';
		width: 35vw;
		height: 35vw;
		background: $blush;
		position: absolute;
		right: -5vw;
		top: -15vw;
		border-radius: 50%;
	}
}

.blog-wrapper {
	display: flex;
	padding: 0 8em 0 0;

	.blog-post {
		width: 30%;
		margin: 1em;
		cursor: pointer;
		transition: 0.2s;

		img {
			width: 100%;
			transition: 0.3s;
			margin-bottom: 0.6em;
		}

		&:hover {
			img {opacity: 0.8}
		}

		p {
			transition: 0.2s;
		}

		a {
			text-decoration: none;
		}
	}
}

@mixin split-section {
	max-width: 475px;
}

.split-section-wrapper {
	display: flex;
	justify-content: center;
	
	.split-section-light {
		width: 50%;
		padding: 5rem 2rem;
		background: $soft-white;
		text-align: right;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		div {
			@include split-section;
			display: inline-block;
			text-align: left;
			margin-right: 3rem;
			padding-right: 1em;
		}

		h3 {
			font-size: 2.5em;
		}

		a {
			text-decoration: none;
			border-bottom: 1px solid black;
			transition: .2s;
			color: black;

			&:hover {
				margin-right: 3px;
			}
		}
	}

	.split-section-dark {
		width: 50%;
		padding: 5rem 2rem;
		background: $blush;

		div {
			@include split-section;
			margin-left: 3rem;
		}

		img {
			max-width: 500px;
			width: 100%;
		}
	}
}

.collage-wrapper {
	display: flex;
	align-items: center;

	div {
		padding: 0.6em;
		box-sizing: border-box;
	}

	h1 {
		font-size: 4.4em;
		line-height: 1em;
		margin-block-end: 0.3em;
		word-wrap: break-word;
		text-align: left;
	}

	.collage-left {
		text-align: right;
		width: 45%;
	}

	.collage-right {
		width: 55%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;

		.collage-inner-header {
			width: 45%;
		}

		.collage-inner-top {
			width: 55%;
		}

		.collage-inner-bottom {
			width: 65%;
		}
	}

	img {
		width: 100%;
		transition: 0.4s;
		position: relative;
	}

	#photography-link {
		&:before {
			content: 'Photography';
			// position: absolute;
			// top: 50%;
			// left: 50%;
			font-family: 'Freight Big Pro';
			font-size: 30px;
			opacity: 1;
		}
	}
}

.photo-header-section-wrapper {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;

	h1 {
		color: $orange;
		margin-block-end: 0.3em;
	}

	 div {
	 	width: 50%;
	 	max-width: 450px;
	 	text-align: left;
	 	padding: 2rem;
	 	position: relative;
	 	z-index: 2;

	 	img {
	 		width: 100%;
	 	}

	 	#placeholder {
	 		position: absolute;
	 		z-index: 2;
	 		top: 0;
	 		left: 0;
	 	}

	 	.bg {
	 		position: absolute;
	 		width: 100%;
	 		background: $terracotta;
	 		height: 400px;
	 		z-index: 0;
	 		top: 50%;
	 		left: 50%;
	 		border-radius: 50%;
	 	}
	 }
}

.photo-title-section-wrapper {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	padding-bottom: -1rem;

	h1 {
		color: black;
		margin-block-end: 0.3em;
		padding: 1em;
	}

	 div {
	 	width: 35%;
	 	max-width: 450px;
	 	text-align: left;
	 	padding: 2rem;
	 	position: relative;
	 	z-index: 2;

	 	img {
	 		width: 100%;
	 	}

	 	#placeholder {
	 		position: absolute;
	 		z-index: 2;
	 		top: 0;
	 		left: 0;
	 	}

	 	.bg {
	 		position: absolute;
	 		width: 100%;
	 		background: $pink;
	 		height: 400px;
	 		z-index: 0;
	 		top: 50%;
	 		right: 50%;
	 		border-radius: 50%;
	 	}
	 }
}

.gallery {
	width: 100%;
	display: flex;
	padding: 0;
	box-sizing: border-box;

	.gallery-item {
		flex: 1 1 30%;
		padding: 1em;

		img {width: 100%;}

		.gallery-caption {
			font-size: 0.8em;
			padding: 1em;
		}
	}
}

@media (max-width: 1024px) {
	.blog-wrapper {
		padding: 0;
	}

	.split-section-wrapper .split-section-dark {
		padding: 5rem 1rem;

		div {
			margin-right: 2rem;
		}
	}

	.collage-wrapper h1 {
		font-size: calc(4.44vw +  1rem);
	}

	.photo-header-section-wrapper {
		flex-direction: column;

		div {
			width: 100%;
		}
	}
}

@media (max-width: 768px) {

	.split-section-wrapper {
		flex-direction: column;
		padding: 3rem 1rem;
		background: $soft-white;
		position: relative;

		.split-section-light, .split-section-dark {
			text-align:center;
			box-sizing: border-box;
			width: 100%;
			padding: 1rem;
			background: transparent;
			z-index: 2;

			div {
				width: 100%;
				margin: 0 auto;
			}

			.accent {
				color: black;
			}
		}

		&:before {
			content: '';
			position: absolute;
			width: 20%;
			height: 100%;
			background: $blush;
			right:0;
			top:0;
			z-index: 0;
		}
	}

	.collage-wrapper {
		flex-direction: column-reverse;

		.collage-left {
			width: 100%;
		}
		.collage-right {
			width: 100%;

			.collage-inner-bottom {
				width: 100%;
			}
		}
	}
}

@media (max-width: 650px) {
	.top-section {
		padding-top: 5rem;
	}

	.blog-wrapper {
		flex-direction: column;

		.blog-post {
			width: 93%;
		}
	}

	.pink-section-wrapper {
		padding: 5rem 2rem;
	}

	.split-section-wrapper .split-section-light {
		h3 {
			font-size: 1.5em;
		}
	}

	.photo-header-section-wrapper {
		padding: 0 1em;

		#placeholder {
			display: none;
		}

		.bg {
			display: none;
		}
	}
}